token {
   # TOKEN_TIMEOUT
   # Timeout in seconds:
   timeout = 3600 #1h
}

db {
  # DB_HOST
  host = "database"
  # DB_DATABASE
  database = "postgres"
  # DB_USER
  user = "postgres"
  # DB_PASSWORD
  # password = ""
}

otp {
  # OTP_LENGTH
  # generated One Time Password length
  length = 4
  # OTP_TIMEOUT
  # One Time Password timeout in seconds
  timeout = 300 # 5 minutes
}

# Two factor authentication
tfa {
  # TFA_REQUIRED
  # Requires TFA on all accounts
  required = false
}

twilio {
  # TWILIO_ACCOUNT
  # Twilio account SID
  account = "account-SID"
  # TWILIO_TOKEN
  # Twilio Authentication Token
  token = "token"
  # TWILIO_SOURCE
  # Source number for sms
  source = "source"
}