version: '2'

services:
  database:
    image: postgres:9.5
    networks:
      - auth-service

  auth-service:
    image: registry.nejla.com/nejla-ab/auth-service/auth-service
    links:
      - database
      - mail
    environment:
      - log=true
      - TWILIO_ACCOUNT=
      - TWILIO_TOKEN=
      - TWILIO_SOURCE=
      - EMAIL_FROM=authservicetest@no.email
      - EMAIL_USER=testuser
      - EMAIL_SMTP=mail
      - EMAIL_PORT=1025
      - EMAIL_PASSWORD=nopasswd
      - EMAIL_LINK_TEMPLATE=http://localhost/pwreset?token=%s
      - EMAIL_TLS=false
      - EMAIL_AUTH=false
      - SITE_NAME=authservice-test.com
      - RESET_LINK_EXPIRATION_TIME=24 hours
      - ACCOUNT_CREATION=true
      - DEFAULT_INSTANCE=de305d54-75b4-431b-adb2-eb6b9e546014

    # logging:
    #   driver: gelf
    #   options:
    #     gelf-address: udp://localhost:12201
    networks:
      - auth-service
    command: /app/run.sh

  # One or more application containers
  upstream:
    image: nginx:perl
    volumes:
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo/index.html
      - ./tests/upstream-nginx.conf:/etc/nginx/nginx.conf
    networks:
      - auth-service

  auth-web:
    build: web
    links:
      - auth-service
      # Link upstream containers to their instance IDs
      - upstream:de305d54-75b4-431b-adb2-eb6b9e546014
    environment:
  #   - COOKIE=session
      - COOKIE=permanent
      - NORATELIMIT=true
    networks:
      - auth-service
    # This volume is NOT necessary, it is only to make the tests go through. The
    # actual auth.html is bcked into the image
    volumes:
      - ./frontend/auth.html:/www/authentication/index.html

  frontend:
    image: nginx:latest
    # s/8000/<desired port>
    ports:
      - 8000:80
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/auth-service.include:/etc/nginx/auth-service.include
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo.html
    links:
      - auth-web
    networks:
      - auth-service

  mail:
    image: mailhog/mailhog
    networks:
      - auth-service
    environment:
      - MH_SMTP_BIND_ADDR=0.0.0.0:1025
      - MH_HOSTNAME=authservice.test
    ports:
      - 8025:8025

networks:
  auth-service:
