<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style-placeholder/>
  </head>
  <body>
    <table class="mui-body" cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>
          <div class="mui-container">
            <h1>Password reset attempt</h1>
            <div>
              You requested a password reset for <b>{{siteName}}</b> but this
              email address is not known to our system. Please try a different
              email address or contact support.
            </div>
          </div>
            <div class="mui--text-dark-secondary mui--text-body1 mui--divider-top"
                 style="margin-top:1.5em">
              If you didn't request a password reset for {{siteName}} you can
              safely ignore this email.
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
