# Note: This file is called from the project root directory, all paths are
# relative to there

version: '3.1'

services:
  database:
    image: postgres:12.3
    networks:
      - auth-service
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - 6432:5432

  auth-service:
    image: registry.nejla.com/nejla-ab/auth-service/auth-service
    links:
      - database
      - mail
    environment:
      - LOG=DEBUG
      - DB_HOST=database
      - DB_USER=postgres
      - DB_DATABASE=postgres
      - TWILIO_ACCOUNT=
      - TWILIO_TOKEN=
      - TWILIO_SOURCE=
      - EMAIL_FROM=authservicetest@no.email
      - EMAIL_USER=testuser
      - EMAIL_SMTP=mail
      - EMAIL_PORT=1025
      - EMAIL_PASSWORD=nopasswd
      - EMAIL_TLS=false
      - EMAIL_AUTH=false
      - SITE_NAME=authservice-test.com
      - RESET_LINK_EXPIRATION_TIME=24 hours
      - ACCOUNT_CREATION=true
      - DEFAULT_INSTANCE=657b5108-7559-4b8e-a643-dd0cc29b9e34
      - SIGNED_HEADERS_PRIVATE_KEY_PATH=/run/secrets/header_signing_private_key
      - SERVICE_TOKEN=Ey3FGSjWe3KgjcNfo3sm
      - SAML_CONFIG_PATH=/run/saml

    volumes:
      - ./devel/ephemeral/secrets:/run/secrets
      - ./SAML/config:/run/saml:ro
      - ./devel/templates/password-reset-email.html.mustache:/app/password-reset-email.html.mustache:ro
      - ./devel/templates/password-reset-unknown-email.html.mustache:/app/password-reset-unknown-email.html.mustache:ro
    # logging:
    #   driver: gelf
    #   options:
    #     gelf-address: udp://localhost:12201
    networks:
      - auth-service

  # One or more application containers
  upstream:
    image: nginx:perl
    volumes:
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo/index.html
      - ./tests/upstream-nginx.conf:/etc/nginx/nginx.conf
    networks:
      - auth-service

  auth-web:
    image: registry.nejla.com/nejla-ab/auth-service/auth-web:${AUTHWEBTAG:-latest}
    links:
      - auth-service
      # Link upstream containers to their instance IDs
      - upstream:de305d54-75b4-431b-adb2-eb6b9e546014
    environment:
      # - SESSION_COOKIES=false
      - NORATELIMIT=true
    networks:
      - auth-service
    # This volume is NOT necessary, it is only to make the tests go through. The
    # actual auth.html is bcked into the image
    volumes:
      - ./frontend/auth.html:/www/authentication/index.html

  frontend:
    image: nginx:latest
    # s/8000/<desired port>
    ports:
      - 8000:80
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend/auth-service.include:/etc/nginx/auth-service.include
      - ./tests/index.html:/www/index.html
      - ./tests/foo.html:/www/foo.html
    links:
      - auth-web
    networks:
      - auth-service

  mail:
    image: mailhog/mailhog
    networks:
      - auth-service
    environment:
      - MH_SMTP_BIND_ADDR=0.0.0.0:1025
      - MH_HOSTNAME=authservice.test
    ports:
      - 8025:8025

networks:
  auth-service:
