<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Password Reset Attempt</title>
    <meta content="initial-scale=1, width=device-width" name="viewport">
  </head>
  <body>
    <h1>Password Reset Attempt</h1>
    <p>
      You requested a password reset for <b>Example App</b> but this e-mail
      address is not known to our system. Please try a different e-mail address
      or contact support.
    </p>
    <p>
      If you didn't request a password reset you can safely ignore this message.
    </p>
  </body>
</html>
