<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Your Password Reset</title>
    <meta content="initial-scale=1, width=device-width" name="viewport">
  </head>
  <body>
    <h1>Your Password Reset</h1>
    <p>
      You requested a password reset for <b>Example App</b>. To complete the
      reset please follow this link:
    </p>
    <p>
      <a href="https://my-app.example.com/reset-password?token={{token}}">
        https://my-app.example.com/reset-password?token={{token}}
      </a>
    </p>
    <p>The link will be valid for {{expirationTime}} hours.</p>
    <p>
      If you didn't request a password reset you can safely ignore this message.
    </p>
  </body>
</html>
